services:
  backend:
    build: ./backend
    image: kishoryadhav/user-management-backend:latest
    container_name: user-management-backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=5000
    restart: always

  frontend:
    build: ./frontend
    image: kishoryadhav/user-management-frontend:latest
    container_name: user-management-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
